@tailwind base;
@tailwind components;
@tailwind utilities;

// Add class like TailWind
.text-edoras {
	--tw-text-opacity: 1;
	color: #C3A995;
}
.bg-edoras-color {
	--tw-bg-opacity: 1;
	background-color: #333333;
}
.bg-edoras-second-color {
	--tw-bg-opacity: 1;
	background-color: #C3A995;
}

// Verticals Lines
.line {
	position: relative;

	&::before {
		content: " ";
		position: absolute;
		width: 1px;
		left: 25%;
		top: 0;
		bottom: 0;
		background: #707070;
		z-index: 0;
	}

	&::after {
		content: " ";
		position: absolute;
		width: 1px;
		right: 25%;
		top: 0;
		bottom: 0;
		background: #707070;
		z-index: 0;
	}
}


// Part
.identity_part {
	margin-top: -30px;
}

// Footer
.footer_info_underline {
	margin-top: -15px;
	background: #CCB29E;
	color: white;
	width: 0;
	height: 10px;
	transition: 0.2s;
}

.all:hover {
	.footer_info_underline {
		width: 95px;
	}
}

input {
	padding: 8px;
	background: #EDEDED;
}

// Parallax effect
.background_image {
	background-image: url('../images/background_picture.png');
	min-height: 600px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.background_image + div{
	height:1000px;
	background-image: linear-gradient(to right top, #faa7e4, #f395e5, #e983e9, #dc72ee, #cb63f4);
	font-size:36px;
	text-align: center;
}

.button_hover:hover {
	background: white;
	color: #333333;
}