@tailwind base;
@tailwind components;
@tailwind utilities;

.text-edoras {
	--tw-text-opacity: 1;
	color: #C3A995;
}
.bg-edoras-color {
	--tw-bg-opacity: 1;
	background-color: #333333;
}
.bg-edoras-second-color {
	--tw-bg-opacity: 1;
	background-color: #C3A995;
}